<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<!-- Log levels can be changed via Env `export DEFAULT_LOG_LEVEL=DEBUG` -->
		<Property name="DEFAULT_LOG_LEVEL">TRACE</Property>
		<Property name="GIT_LOG_LEVEL">INFO</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="${env:DEFAULT_LOG_LEVEL}">
			<AppenderRef ref="Console" />
		</Root>
		<logger name="org.alliancegenome" level="${env:DEFAULT_LOG_LEVEL}" />
		<logger name="org.eclipse.jgit" level="${env:GIT_LOG_LEVEL}" />
	</Loggers>
</Configuration>