<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true"
           xmlns="http://logging.apache.org/log4j/2.0/config"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config 
           https://raw.githubusercontent.com/apache/logging-log4j2/master/log4j-core/src/main/resources/Log4j-config.xsd">
	<Properties>
		<!-- Log levels can be changed via Env `export DEFAULT_LOG_LEVEL=DEBUG` -->
		<Property name="DEFAULT_LOG_LEVEL">TRACE</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="${env:DEFAULT_LOG_LEVEL}">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>