Resources:
  AWSEBV2LoadBalancerListener:
    Type: 'AWS::ElasticLoadBalancingV2::Listener'
    Properties:
      DefaultActions:
        - Type: redirect
          RedirectConfig:
            Protocol: HTTPS
            Port: '443'
            Host: '#{host}'
            Path: '/#{path}'
            Query: '#{query}'
            StatusCode: HTTP_301
      LoadBalancerArn:
        Ref: AWSEBV2LoadBalancer
      Port: 80
      Protocol: HTTP
option_settings:
  # As noted in the AWS docs, the following option cannot be set through the .ebextensions configuration files,
  # and thus has to be defines through EB CLI arguments on environment creation.
  #
  # aws:elasticbeanstalk:environment:
  #   LoadBalancerType: application
  #
  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environments-cfg-alb.html#environments-cfg-alb-namespaces

  aws:elbv2:listener:443:
    SSLCertificateArns: arn:aws:acm:us-east-1:100225593120:certificate/047a56a2-09dd-4857-9f28-32d23650d4da
    Protocol: HTTPS
    DefaultProcess: http
  aws:elasticbeanstalk:environment:process:http:
    Port: '8080'
    Protocol: HTTP
  aws:elbv2:loadbalancer:
    SecurityGroups: sg-21ac675b
    IdleTimeout: 600
